/* Forms & Inputs */

.textarea-vertical-resize-only {
  resize: vertical;
}

/* Text Behaviour */

.inherit-font-properties {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

/* Positioning */

.position-absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.position-absolute-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.position-absolute-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.position-absolute-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Lists */

.bulletless,
.bulletless li {
  list-style-type: none;
}
