/* Forms & Inputs */

.u-textarea-vertical-resize-only {
  resize: vertical;
}

/* Text Behaviour */

.u-inherit-font-properties {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

/* Positioning */

.u-position-absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.u-position-absolute-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.u-position-absolute-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.u-position-absolute-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Lists */

.u-bulletless,
.u-bulletless li {
  list-style-type: none;
}

